@media (max-width: 530px) {
    .progress-one {
        width: 25em !important;
        margin-left: -3em !important;
    }

    .card-ten {
        width: 23rem  !important;
        height: 28rem;
        box-sizing: border-box;
    }
    .card-one-second {
        height: 21rem !important;
    }
    
    .card-one {
        width: 26rem !important;
        height: 28rem;
        box-sizing: border-box;
    }
}
@media (max-width: 456px) {
    .progress-one {
        width: 18em !important;
        margin-left: -1em !important;
        margin-top: 20px !important;
    }

    .card-ten {
        width: 23rem  !important;
        height: 28rem;
        box-sizing: border-box;
    }
    .card-one-second {
        height: 21rem !important;
    }
    
    .card-one {
        width: 20rem !important;
        height: 28rem;
        box-sizing: border-box;
    }
    .html-ml, .css-ss, .js-java, .node-js, .mongo-db {
        background: linear-gradient(to right, rgb(255, 0, 200), rgb(162, 0, 243));
        max-width: 7rem;
        border-radius: 5px;
        color: #34015d;
        margin-left: -8%;
    }
    .card-title-one-second > i {
        margin-left: -14rem;
    }
}
@media (max-width: 352px) {
    .progress-one {
        width: 18em !important;
        margin-left: -1em !important;
        margin-top: 20px !important;
    }

    .card-ten {
        width: 23rem  !important;
        height: 28rem;
        box-sizing: border-box;
    }
    .card-one-second {
        height: 23rem !important;
    }
    
    .card-one {
        width: 16rem !important;
        height: 28rem;
        box-sizing: border-box;
    }
    .html-ml, .css-ss, .js-java, .node-js, .mongo-db {
        background: linear-gradient(to right, rgb(255, 0, 200), rgb(162, 0, 243));
        max-width: 7rem;
        border-radius: 5px;
        color: #34015d;
        margin-left: -8%;
    }
    .card-title-one-second > i {
        margin-left: -10rem;
    }
}